
h1 {
	text-align: left;
	font-family: Avenir;
	font-size: 5em;
	font-variant-caps: all-small-caps;
	padding-left: 30px;
	margin-bottom: 20px;
	color: black;

}
.smaller {
	text-align: center;
	font-family: Avenir;
	font-size: 18pt;
	font-variant-caps: normal;
	color: black;



}
body {
	text-align:left;
	font-family: tahoma;
	font-size: 1em;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;

}
#unique {
	font-size: 1em;
	padding-left: 250px;
	padding-right: 250px;
	font-style: italic;
	color: black;

}
p {padding-left: 200px;
padding-right: 200px;
padding-top: 0px;}

#content {
	padding-right: 20px;
	padding-left: 20px;
	border-radius: -25px;
	border-color: black;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: none;
}

li a.active {
    color: white;
    background-color: none;
}
