
h1 {
	text-align: left;
	font-family: Avenir;
	font-size: 5em;
	font-variant-caps: all-small-caps;
	padding-left: 30px;
	margin-bottom: 20px;

}
.smaller {
	text-align: center;
	font-family: Avenir;
	font-size: 18pt;
	font-variant-caps: normal;
	color: black;



}
body {
	text-align:left;
	font-family: tahoma;
	font-size: 1em;
	background-size: cover;
	background-repeat: no-repeat;
	color: black;

}
#unique {
	font-size: 1em;
	padding-left: 250px;
	padding-right: 250px;
	font-style: italic;
	color: black;

}
p {padding-left: 200px;
padding-right: 200px;}

button { 
	font-size: 2em; 
	color: black;
	font-family: Avenir;
	font-variant-caps: all-small-caps;
	text-align: center;
	border: none;
	background-color: white;
	border-radius: 12px;
	


}
#buttondiv {text-align: left;
padding-left:50px;
margin-bottom: 5em;}

#content {
	padding-right: 20px;
	padding-left: 20px;
	border-radius: -25px;
	border-color: black;

}
